<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include _common/head.ejs %>
    <!--WIZARD STYLES-->
    <link href="/assets/css/wizard/normalize.css" rel="stylesheet"/>
    <link href="/assets/css/wizard/wizardMain.css" rel="stylesheet"/>
    <link href="/assets/css/wizard/jquery.steps.css" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <%- include _common/navbar.ejs %>
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">主页</h1>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            操作向导
                        </div>
                        <div class="panel-body">
                            <div id="wizard">
                                <h2>上传数据</h2>
                                <section>
                                    <p>选择需要上传处理的数据（数据类型说明）。</p>
                                </section>

                                <h2>查看数据统计</h2>
                                <section>
                                    <p>查看已上传数据的详细信息（包括数据项的类型，条数，分布等等）。</p>
                                </section>

                                <h2>选择进行分析的数据</h2>
                                <section>
                                    <p>可选步骤，进行数据过滤、采样（可提高数据处理效率）。</p>
                                </section>

                                <h2>进行数据挖掘</h2>
                                <section>
                                    <p>使用已有的数据进行数据挖掘并查看结果。</p>
                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<%- include _common/foot.ejs %>
<!-- WIZARD SCRIPTS -->
<script src="/assets/js/wizard/modernizr-2.6.2.min.js"></script>
<script src="/assets/js/wizard/jquery.cookie-1.3.1.js"></script>
<script src="/assets/js/wizard/jquery.steps.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#wizard").steps({
                headerTag: "h2",
                bodyTag: "section",
                transitionEffect: "slideLeft"
            });
        });
    });
</script>
</body>
</html>