<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<%- include _common/head.ejs %>
<style>
    body {
        background-color: #f0f0f0;
        margin: 0px;
        overflow: hidden;
    }
</style>
<body>
    <div id="wrapper">
        <%- include _common/navbar.ejs %>
        <div id="page-wrapper">
            <%- include _animation/particles.ejs %>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <%- include _common/foot.ejs %>
</body>
</html>